header {
    background-color: #0f3759;
    position: fixed;
    height: 100%;
    width: 5%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    color: white;
    
}
body {
    background-color: #d5f0f5;
}
.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.logodois {
    align-content: end;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}